.main-container {
    width:1280px;
    font-family: Montserrat;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 25.5px 330px;
}

.header-menu-item {
    list-style-type: none;
}

.header-menu-link {
    color: #FF0000;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

.main-img {
    height: 789px;
    background: url(../images/img.png) no-repeat;
    background-size: cover;
}

.description {
    margin: 30px 67px;
    line-height: 1.5;
    text-align: center
}

.short-description {
    margin: 3% auto;
    text-align: center
}

.button {
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    padding: 18px 43px;
    border: 0;
    background:#FF0000;
    color: white;
    font-weight: 700;
    font-size: 12px;
    margin: 5% auto;
}

.bottom-text{
    margin: 80px 105px 30px 0;
    text-align: right
}
    
    
